# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/client/node_modules

#/server/node_modules
/client/build

# testing
/coverage
/node_modules


# misc
.DS_Store
.idea
/client/.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
#/client/build

*.css.map